<html>
    <head>
        <title>Home page</title>
    </head>
    <body>
        <% var a = 10 ; var b = "Renu"; %>
        <h1>Welcome to home page <%= b %></h1>

        <% for(var i=0;i<data.length; i++){%>
            <h1> name is <%=data[i].name%></h1>
        <%}%>
    </body>
</html>
