<!DOCTYPE html>
<html>
    <head>
        <title>data form</title>
    </head>
    <body>
        <div>
            <form action = "/plantssubmit" method="GET">
                <input type="text" placeholder="Name" name = "name"><br><br>
                <input type="text" placeholder="medicinal values" name = "uses"><br><br>
                <button>submit</button>
            </form>
            
        </div>
    </body>
</html